@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// header

.nav {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 0 35px;

  &__link {
    @extend %roboto-400;
    color: $title;
    padding: 0 2px 1px;
    text-transform: uppercase;
    position: relative;
    transition: color 0.5s ease;

    &:hover {
      color: $accent;
    }

    &::before {
      content: '';
      width: 0;
      height: 1px;
      position: absolute;
      left: auto;
      right: 0;
      bottom: 0;
      background-color: $accent;
      transition: width 0.5s ease;
    }

    &--active {
      @extend %roboto-700;
      color: $accent;
    }

    &--active::before {
      width: 100%;
    }

    &:hover::before {
      width: 100%;
      right: auto;
      left: 0;
    }
  }
}

.user-nav {
  display: flex;
  gap: 0 25px;

  &__link {
    position: relative;

    path {
      transition: fill 0.5s ease;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }

  &__num {
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    background-color: $accent;
    position: absolute;
    right: -14px;
    top: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
  }
}

// top

.top {
  background-color: $bg;
  background-image: url('../images/decor/top-decor.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 65px;

  &__container {
    max-width: 1520px;
    padding-left: 175px;
  }

  &__item {
    &-inner {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item-content {
    max-width: 670px;
    padding-top: 125px;
  }

  &__title {
    @extend %roboto-700;
    font-size: 58px;
    line-height: 68px;
    color: $title;
    margin-bottom: 35px;
  }

  &__text {
    max-width: 470px;
    margin-bottom: 55px;
  }

  &__link {
    @extend %btn;
    padding: 14px 44px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    gap: 0 5px;
    position: absolute;
    bottom: 40px;
    max-width: 1170px;
    width: 100%;

    li {
      button {
        font-size: 0;
        width: 26px;
        height: 26px;
        border: 1px solid transparent;
        border-radius: 50%;
        transition: border-color 0.5s ease;
        position: relative;

        &::before {
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $default;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: backgound-color 0.5s ease;
        }

        &:hover {
          border: 1px solid $accent;
        }

        &:hover::before {
          background-color: $accent;
        }
      }

      &.slick-active {
        button {
          border: 1px solid $accent;

          &::before {
            background-color: $accent;
          }
        }
      }
    }
  }
}

// categories



// footer

.footer {
  background-color: $bg;

  &__top {
    display: flex;
    gap: 30px;
    padding: 75px 0 40px;
  }

  &__item-contacts {
    width: 250px;
    margin-right: 20px;
  }

  &__item-nav {
    width: 170px;
  }

  &__item-form {
    max-width: 470px;
  }

  &__logo {
    margin-bottom: 33px;
  }

  &__address,
  &__email,
  &__phone,
  &__list-item:not(:last-child) {
    margin-bottom: 14px;
  }

  &__phone {
    margin-bottom: 30px;
  }

  &__title {
    @extend %roboto-500;
    font-size: 22px;
    line-height: 1;
    color: $title;
    margin-bottom: 50px;
  }

  &__text {
    margin-bottom: 25px;
  }

  &__input {
    max-width: 320px;
    width: 100%;
    background-color: #fff;
    padding: 12px 10px 12px 15px;
    box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);

    &::placeholder {
      @extend %quicksand-500;
      font-size: 16px;
      color: $default;
    }
  }

  &__btn {
    @extend %btn;
    margin-left: 5px;
  }

  &__bottom {
    height: 75px;
    font-size: 12px;
    border-top: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__accept {
    display: flex;
    gap: 0 25px;
  }
}

.social {
  display: flex;
  gap: 0 20px;
  align-items: center;

  &__link {
    path {
      transition: fill 0.5s ease;
      fill: $default;
    }

    &:hover {
      path {
        fill: $accent;
      }
    }
  }
}

@import 'media';